extends layout

block content
  .admin-form
    h1= title
    form(method='POST', action='')
      div
        label(for='adminCode') Enter admin code:
        input#adminCode(type='text', name='adminCode', required)
        .form-buttons
        input.submit(type='submit', value='Submit')
        button.back(type='button', onclick='location.href=\'/\'') Back to Home Page

    if errors
      ul
        each error in errors
          li!= error.msg
